.general-sub-label {
  color: $grey;
  font-size: 14px;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;

  &.mission-category {
    margin-left: 10px;
  }

  &.we-have {
    text-align: center;
  }
}
