.you-can-do {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px 0px;

  &__content {
    margin-top: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__grid-item {
    margin: 40px;
    display: flex;
    width: 220px;
  }

  &__left-image-container {
    display: flex;
    flex-basis: 33%;
    align-items: center;
    justify-content: center;
  }

  &__right-image-container {
    display: flex;
    flex-basis: 66%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  &__label-wrapper {
    margin-left: 10px;
  }
}
