.personal-tag-form {
  &__label {
    flex-basis: 30%;
    margin-right: 20px;
    color: $gray;
  }

  &__form-field {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 70%;
  }

  &__field-wrapper {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    width: 70%;
  }

  .tags-check-box {
    margin-right: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    border-radius: 20px;
    width: 80px;

    &.checked {
      background-color: $blue-text;
    }

    &.unchecked {
      &.my-tags {
        display: none;
      }
      border: 1px solid $blue-text;
    }

    &__input-box {
      display: none;
      cursor: pointer;
    }

    &__input-label {
      cursor: pointer;
      width: 100%;
    }
  }
}
