.profile-content {
  flex-basis: 80%;

  &__container {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
  }

  &__form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    .form-group-header {
      font-size: 20px;
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      color: $blue-background;
      cursor: pointer;
    }
  }
}
